<div nz-row [nzGutter]="16">
    <div nz-col nzXs="24" [nzSpan]="8">
    <label id="lbl">Seleccion archivo (*.txt) </label>
    <input class="form-control" type='file' (change)="fileChanged($event)">
    <hr/>
  </div>

 

</div>
<div nz-row [nzGutter]="16">
    <div nz-col nzXs="24" [nzSpan]="8">
      <h4>Departamentos</h4>
      <nz-table #basicTableDEP [nzData]="departamentos">
          <thead>
            <tr>
              <th>Cófigo</th>
              <th>Nombre</th>
              <th>Código Padre</th>
              <th>Descripción Padre</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let data of basicTableDEP.data">
              <td>{{ data.codigo }}</td>
              <td>{{ data.nombre }}</td>
              <td>{{ data.codigoPadre }}</td>
              <td>{{ data.descripcionPadre }}</td>
            </tr>
          </tbody>
        </nz-table>
    </div>
</div>

<div nz-row [nzGutter]="16">
    <div nz-col nzXs="24" [nzSpan]="8">
      <h4>Provincias</h4>
      <nz-table #basicTablePROV [nzData]="provincias">
          <thead>
            <tr>
              <th>Cófigo</th>
              <th>Nombre</th>
              <th>Código Padre</th>
              <th>Descripción Padre</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let data of basicTablePROV.data">
              <td>{{ data.codigo }}</td>
              <td>{{ data.nombre }}</td>
              <td>{{ data.codigoPadre }}</td>
              <td>{{ data.descripcionPadre }}</td>
            </tr>
          </tbody>
        </nz-table>
    </div>
</div>

<div nz-row [nzGutter]="16">
    <div nz-col nzXs="24" [nzSpan]="8">
      <h4>Distritos</h4>
      <nz-table #basicTableDIST [nzData]="distritos">
          <thead>
            <tr>
              <th>Cófigo</th>
              <th>Nombre</th>
              <th>Código Padre</th>
              <th>Descripción Padre</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let data of basicTableDIST.data">
              <td>{{ data.codigo }}</td>
              <td>{{ data.nombre }}</td>
              <td>{{ data.codigoPadre }}</td>
              <td>{{ data.descripcionPadre }}</td>
            </tr>
          </tbody>
        </nz-table>
    </div>
</div>